<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC
    "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fh.shop.admin.mapper.type.ITypeSpecMapper">

    <insert id="addSpecType" >
        insert into t_type_spec (typeId,specId) values 
        <foreach collection="list" separator="," item="x">
            (#{x.typeId},#{x.specId})
        </foreach>
    </insert>

    <select id="selectSpecTypeById" parameterType="long" resultType="long">
        select specId from t_type_spec where typeId=#{v}
    </select>

    <delete id="deleteBatch" parameterType="long">
        delete from t_type_spec where typeId=#{v}
    </delete>

    <insert id="addBatch">
        insert into t_type_spec (typeId,specId) values
        <foreach collection="list" separator="," item="x" >
            (#{x.typeId},#{x.specId})
        </foreach>
     </insert>

    <delete id="deleteBatchIds" >
        delete from t_type_spec where typeId in
        <foreach collection="list" separator="," open="(" close=")" item="x">
            #{x}
        </foreach>
    </delete>


</mapper>